
.centerBg{
	background-image: url(../images/Minecraft-bg-1.png);
}

.minecraftTitle {
	position: relative;
	height: 100px;
	background-color: #e7be6f;
	margin-left: 40px;
	font-family: 'Press Start 2P', cursive;

}

.minecraftTitle p {
	position: absolute;
	top: 20%;
	left: 5%;
	font-size: 30px;
	text-align: center;
	;
}

.instructions {
	font-size: 15px;
	border: 3px solid #cccccc;
	margin: 10px 0 10px 0;
	background-color: #a5ce4a;
	margin-left: 40px;
	font-family: 'Press Start 2P', cursive;
}

.computerScore {
	position:relative;
	font-size: 15px;
	border: 3px solid #cccccc;
	margin: 0 0 10px 0;
	background-color: #441c9b;
	height: 100px;
	margin-left: 40px;
	color: white;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}

.computerScore p {
	margin-top: 10px;
}

#score {
	position: relative;
	top: 20%;
	font-size: 25px;
}

.wins-losses {
	font-size: 20px;
	border: 3px solid #cccccc;
	margin: 0 0 10px 10px;
	background-color: #00bcbd;
	height: 100px;
}

.winnerDisplay {
	color: white;
	font-size: 25px;
}

.rock-images {
	margin-left: 13px;
	margin-bottom: 10px;
}

.crystal-hover:hover {
	border: 3px solid #ffffff;
	cursor: pointer;
}

.scoreTitle {
	position: relative;
	background-color:  #a5ce4a;
	border: 1px solid #cccccc;
	height: 50px;
	margin-left: 40px;
}

.scoreTitle p {
	margin-top: 13px;
	top: 30%;
	font-size: 15px;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}

.playerScore {
	position: relative;
	height: 100px;
	background-color: #e7be6f;
	margin-top: 10px;
	margin-left: 40px;
	margin-bottom: 10px;
}

.playerScore p {
	margin-top: 40px;
	font-size: 30px;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}
